<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>heima_day15</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Ajax1Servlet</display-name>
    <servlet-name>Ajax1Servlet</servlet-name>
    <servlet-class>com.itheima.ajax.Ajax1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajax1Servlet</servlet-name>
    <url-pattern>/ajax1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ajax2Servlet</display-name>
    <servlet-name>Ajax2Servlet</servlet-name>
    <servlet-class>com.itheima.ajax.Ajax2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajax2Servlet</servlet-name>
    <url-pattern>/ajax2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUsername4AjaxServlet</display-name>
    <servlet-name>CheckUsername4AjaxServlet</servlet-name>
    <servlet-class>com.itheima.web.servlet.CheckUsername4AjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUsername4AjaxServlet</servlet-name>
    <url-pattern>/checkUsername4AjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JqueryAjax</display-name>
    <servlet-name>JqueryAjax</servlet-name>
    <servlet-class>com.itheima.jquery_ajax.JqueryAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JqueryAjax</servlet-name>
    <url-pattern>/jqueryAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SerarchKw</display-name>
    <servlet-name>SerarchKw</servlet-name>
    <servlet-class>com.itheima.web.servlet.SerarchKw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerarchKw</servlet-name>
    <url-pattern>/serarchKw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectPro</display-name>
    <servlet-name>SelectPro</servlet-name>
    <servlet-class>com.itheima.web.servlet.SelectPro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectPro</servlet-name>
    <url-pattern>/getAllPro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectProvince</display-name>
    <servlet-name>SelectProvince</servlet-name>
    <servlet-class>com.itheima.web.servlet.SelectProvince</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectProvince</servlet-name>
    <url-pattern>/selectPro</url-pattern>
  </servlet-mapping>
</web-app>